/* video background */
/* video background */
* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.video-background-animation {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-background-animation video {
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-width: 100%;
  min-height: 100%; */
  /* width: auto; */
  height: 100%;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.video-background-animation .content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scissor {
  position: absolute;
  left: 48%;
  transform: translateX(-48%);
  cursor: pointer;
  z-index: 2;
  width: 70px;
  height: auto;
  user-select: none;
  animation: tada 2s infinite;
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}